* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.stopka, .baner {
    background-color: #004D40;
    color: white;
    padding: 10px;
    text-align: center; 
}


.s {
    display: flex;          
    flex-direction: row;
}


.lewy {
    background-color: #80CBC4;
    color: white;
    height: 500px;           
    width: 30%;             
    padding: 10px;          
}


.srodkowy {
    background-color: #E0F2F1;
    color: black;           
    height: 500px;
    width: 30%;
    text-align: center;
    padding: 10px;
}


.prawy {
    width: 40%;             
    height: 500px;
    display: flex;           
    flex-direction: column;
}
.gorny {
    background-color: #E0F2F1;
    color: black;
    height: 250px;          
    padding: 10px;
}

.dolny {
    background-color: #B2DFDB;
    color: black;
    height: 250px;
    padding: 10px;
}

h3 {
    text-align: center;
}

img {
    padding: 5px;
    height: 150px;
    border: 1px #004D40 dotted;
    border-radius: 5px;
}

input, button {
    margin: 5px;
}
