* {
    font-family: Helvetica;
    padding: 0;
    margin: 0;
}

header, footer {
    background-color: saddlebrown;
    color: white;
    text-align: center;
    padding: 7px;
}

.menu {
    background-color: peru;
    width: 80%;
    height: 40px;
    padding-top: 20px;
}

main {
    display: flex;
    width: 100%;
}

.lewe {
    width: auto;
    box-sizing: border-box;
}

.main {
    width: 80%;
    height: 700px;
    font-size: 120%;
    overflow: auto;
}

.prawy {
    background-color: peru;
    color: white;
    width: 20%;
    height: 760px;
}

a {
    color: #DDD;
    padding-left: 90px;
    font-size: 140%;
    text-decoration: none;
}

a:hover {
    color: white;
}

img {
    float: left;
    margin: 30px;
}